
.icon-arrow:before { content: '\e81e'; } /* '' */
.icon-wind-speed:before { content: '\e81f'; } /* '' */
.icon-air-pressure:before { content: '\e820'; } /* '' */
.icon-humidity:before { content: '\e821'; } /* '' */